---
/* Images */
import pfp from '../../images/pfp.webp'

/* Font */
import "@fontsource/catamaran"
import "@fontsource/poly"
import "@fontsource/istok-web"
---



<div class="grid row-start-2 lg:col-start-2 justify-items-center content-center">
	<img src={pfp} alt="picture of the developer" class="object-fit w-[140px] mb-4 rounded-2xl" />
	<h1 class="font-catamaran text-4xl w-fit h-fit mb-2">Sebastian Møldrup</h1>
	<div class="font-istok w-fit h-fit">IKT-Utvikler</div>
</div>
