---
/* SVG */
import { Github } from '../../images/icons/Icon.jsx';
import { Mail } from '../../images/icons/Icon.jsx';
import { Phone } from '../../images/icons/Icon.jsx';
import { In } from '../../images/icons/Icon.jsx'

/* Sub components */
import List from './social/List.astro';
import Anchor from './social/Anchor.astro';

/* Font */
import "@fontsource/istok-web"
---



<div class="grid row-start-3 items-end justify-self-center lg:justify-self-start lg:pl-5 pb-5 col-start-1 w-fit">
	<ul class="grid grid-flow-col justify-self-center w-fit m-0 p-0">
		<List>
			<Anchor href="https://github.com/Sebastianmoldrup?tab=repositories">
				<Github />
				<div>Github</div>
			</Anchor>
		</List>

		<List>
			<Anchor href="mailto: sebastian.moldrup@gmail.com">
				<Mail />
				<div>E-mail</div>
			</Anchor>
		</List>

		<List>
			<Anchor href="tel:+4741391174"> 
				<Phone />
				<div>Telefon</div>
			</Anchor>
		</List>

		<List>
			<Anchor href="https://www.linkedin.com/in/sebastianmoldrup/">
				<In />
				<div>LinkedIn</div>
			</Anchor>
		</List>
	</ul>
</div>