---
/* SVG */
import { Github, Mail, Phone, In } from '../../images/icons/SVG.jsx';

/* Sub components */
import List from './social/List.astro';
import Anchor from './social/Anchor.astro';
import Brand from './social/Brand.astro';

/* Font */
import "@fontsource/istok-web"
---



<div class="grid row-start-3 items-end justify-self-center lg:justify-self-start lg:pl-5 pb-5 col-start-1 w-fit">
	<ul class="grid grid-flow-col justify-self-center w-fit m-0 p-0 gap-6">
		<List>
			<Anchor href="https://github.com/Sebastianmoldrup?tab=repositories">
				<Github />
				<Brand>Github</Brand>
			</Anchor>
		</List>

		<List>
			<Anchor href="mailto: sebastian.moldrup@gmail.com">
				<Mail />
				<Brand>E-mail</Brand>
			</Anchor>
		</List>

		<List>
			<Anchor href="tel:+4741391174"> 
				<Phone />
				<Brand>Telefon</Brand>
			</Anchor>
		</List>

		<List>
			<Anchor href="https://www.linkedin.com/in/sebastianmoldrup/">
				<In />
				<Brand>LinkedIn</Brand>
			</Anchor>
		</List>
	</ul>
</div>