---
import { CollectionEntry, getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

/* Font */
import "@fontsource/catamaran"
import "@fontsource/poly"
import "@fontsource/istok-web"

---

<Layout>
	<div>hello</div>
</Layout>