---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href } = Astro.props;
---

<a href={href}>
	<slot />
</a>

<style>
	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	@media only screen and (min-width: 1024px) {
		a {
			display: flex;
			flex-direction: row;

			justify-content: center;
			align-items: center;

			font-size: 1.125rem;

			opacity: 0.75;

			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 200ms;
		}

		a:hover {
			opacity: 1;
			transform: scale(1.25);
			border-bottom: 2px solid #fff;
		}
	}
</style>