---
import { Person } from '../images/icons/SVG.jsx';
---

<div class="grid place-items-center w-full h-full">
    
    <div class="flex flex-col justify-center items-center gap-6 text-center lg:flex-row">
        <Person />

        <div class="flex flex-col gap-4">
            <div class="w-[300px]">
                Akkurat nå er jeg lærling for Effektiv Markedsføring der jeg jobber som IKT-utvikler for å fullføre fagbrev innenfor dette yrket.
            </div>
            <div class="w-[300px]">
                Tidligere har jeg jobbet 2 år offshore som bore-og vedlikeholdsoperatør "Roughneck". Jeg har også fagbrev innenfor dette yrket.
            </div>
        </div>
    </div>
    
</div>