---
import Anchor from './header/Anchor.astro';
import { Burger } from './header/Burger.jsx';
import { Nav } from './header/Navigation.jsx';

import "@fontsource/catamaran"
import { log } from 'astro/dist/core/logger/core';
---

<div class="fixed flex flex-row justify-between w-full top-0 px-6 py-4 lg:px-14 lg:pt-6 text-[#34e4b1] overflow-hidden font-catamaran">

    {/* Name */}
    <div class="font-bold text-2xl font-catamaran">Sebastian Møldrup</div>

    {/* Nav - desktop */}
    <Nav />

    {/* Burger menu */}
    <Burger client:load />

</div>
    
